version: '3.4'

services:
  tests:
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      WAIT_HOSTS: databaseEFCore:1433
    volumes:
        - ./TestResults:/var/temp
    depends_on:
      - databaseEFCore

  databaseEFCore:
    image: mcr.microsoft.com/mssql/server:2019-CU3-ubuntu-18.04
    environment:
        SA_PASSWORD: "P@ssW0rd!"
        ACCEPT_EULA: "Y"
