@page
@model Ardalis.SampleApp.Web.Pages.IndexModel
@{
}

<h1>Customer List</h1>

Loading customers took @Model.ElapsedTimeMilliseconds ms.

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
    </thead>
    <tbody>
        @foreach(var customer in Model.Customers.Take(100))
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
            </tr>
        }
    </tbody>
</table>