name: Build and Test Ardalis.Specification.EntityFramework6

on: 
  workflow_dispatch:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - 'Specification.EntityFramework6/**'
  pull_request:
    branches:
      - main
    paths:
      - 'Specification.EntityFramework6/**'

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.400
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Build with dotnet
      run: dotnet build Specification.EntityFramework6/src/Ardalis.Specification.EntityFramework6/Ardalis.Specification.EntityFramework6.csproj --configuration Release
    - name: Test with dotnet
      run: dotnet test Specification.EntityFramework6/tests/Ardalis.Specification.EntityFramework6.IntegrationTests/Ardalis.Specification.EntityFramework6.IntegrationTests.csproj --configuration Release
